html {
  box-sizing: border-box;
 font-family: Georgia;
  background-color: #f0eee8;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  color: #512200;
}

.link-card {
  display: inline-block;

}

h1{
  font-family: "Dosis";
  font-size: 1.5rem;
  margin: 0;
}


div {
  text-align: center;
  color: white;
  font-family: "Dosis";
  font-size: 1.123rem;
  border-radius: 8px;
  padding: 7px;
  margin-top: 15px;
  background-color: pink;

}

.link-card:hover {
    background-color: #cabdb2;
}
